/* CSS sheet for Paula's main page TODO */

#wrapper {
    width: 80%;
    margin: auto;
    box-shadow: 0 0 25px black;
    min-height: 100%;
}

/* nav bar formatting here */
a.action {
    border: 2px solid black;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: gray;
    font-size: 18px;
    display: block;
    width: 20%;
    float: left;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}


/* end nav bar formatting */

.container  h1, h2, h3, p, li{
    text-align:center;
}
/* Text formatting here */
ul { 
    position: relative;
    float: left;
    left: 50%;
    padding: 0;
    list-style: none; }
li { 
    position: relative;
    float: left;
    right: 50%;
    margin: 0 5px; }